---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
     <p>
      Hello, I'm Trimpta Quaritta
     </p>
    <table>
        <tr>
            <td>Github</td>
            <td><a href="https://github.com/trimpta">github.com/trimpta</a></td>
        </tr>
        <tr>
            <td>Discord</td>
            <td>@trimpta</td>
        </tr>
        <tr>
            <td>Telegram</td>
            <td>@trimpta</td>
        </tr>
        <tr>
            <td>guestbook</td>
            <td><a href="https://www.yourworldoftext.com/~trimpta/">yourworldoftext.com/~trimpta</a></td>
        </tr>
    </table>
  </main>
</Layout>
